
.wrapper{
	background: #ebebeb;
}

.partnerItem{
	background: #fff;
	padding: 10px;
	margin: 10px 0;
	line-height: 24px;
}

.partnerItem .index{
	width: 18%;
	color: #8f8f8f;
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 48px;
}

.partnerItem .info{
	width: 80%;
	display: block;
	height: 50px;
	margin: 0;
}

.partnerItem .company{
	display: block;
	height: 24px;
	line-height: 24px;
}

.partnerItem .model{
	font-size: 12px;
}

.partnerItem .status{
	font-size: 12px;
	background: url( ./imgs/partnerIcon.png ) no-repeat;
	background-size: 26%;
	padding-left: 16px;
}

.partnerItem .statusb{
	background-position: 0 -24px;
}

.partnerForm{
	background: #fff;
	padding: 10px;
}
.addModel{
	height: 34px;
	line-height: 32px;
	width: 30%;
	border-radius: 0;
}

.addPartnerInfo{
	padding: 10px 0;
}

.addPartnerInfo .input_text{
	width: 69%;
	height: 32px;
	padding: 0px;
	margin-left: -4px;
}

.addPartnerBtn{
	color: #fff;
	background: #1fbbb3;
	width: 100%;
	height: 32px;
	line-height: 32px;
}
