.userjoinBox{
	padding: 12px;
}

.userjoinForm label{
	display: block;
	position: relative;
	padding: 0px;
	margin: 10px 0;
}

.userjoinForm label tt{
	width: 24%;
	height: 24px;
	line-height: 24px;
	float: left;
	text-align: right;
	padding-right: 5px;
}

.userjoinForm .input_text{
	width: 71%;
	height: 24px;
	line-height: 24px;
	float: right;
}

.userjoinForm button{
	height: 34px;
	line-height: 28px;
	width: 100%;
}
