<% include ../common/header.ejs %>
	<div class="partnersGrid" id="partnersGrid">

	</div>
   <form class="form" id="addPartner">
        <select id="partnerModel">

		</select>
		<input type="text" id="partnerCompany" />
    </form>
<% include ../common/footer.ejs %>
