<% include ../common/header.ejs %>
<div class="partnersBox">
	<div class="partnersGrid" id="partnersGrid">
		
	</div>
   <form class="form" id="addPartner">
		<div class="addPartnerInfo">
		    <select id="partnerModel" class="addModel">
			</select>
			<input type="text" class="input_text" id="partnerCompany" />
		</div>
		<button type="submit" class="addPartnerBtn">提交</button>
    </form>
</div>
<% include ../common/footer.ejs %>
