<% include ../common/header.ejs %>
<div class="loginCanvas">
	<form id="loginForm" class="form clearfix loginForm">
		<label><tt></tt><input type="text" placeHolder="请输入手机号" value="" class="input_text" id="username" /></label>
		<label><tt></tt><input type="password" placeHolder="请输入密码" class="input_text" value="" id="password" /></label>
		<label><button type="submit" class="btn">登录</button></label>
	</form>
	<p>点击注册成为仟金顶会员</p>
	<a class="linkBtn" href="/register">注册</a>
</div>
<% include ../common/footer.ejs %>
