<% include ../common/header.ejs %>
<div class="registerBox">
   <form class="form registerForm" id="registerForm">
		<label><tt></tt><input placeHolder="请输入手机号" type="tel" maxLength="11" class="input_text" id="username" /></label>
		<label class="clearfix">
			<tt></tt>
			<input placeHolder="请输入短信验证码" maxLength="6" type="tel" class="input_text code fl" id="code" />
			<a type="button" id="smsCodeBtn" maxLength="16" class="codeBtn fr" value="获取短信验证码" >获取短信验证码</a>
		</label>
		<label><tt></tt><span class="pwdView">*</span><input maxLength="16" placeHolder="请输入密码" type="password" class="input_text" id="password" /></label>
        <label><button type="submit" class="btn" id="registerBtn">注册</button></label>
	<label class="agree""><input type="checkbox" checked id="agree" />我已阅读并同意遵守<a href="/protocol">法律声明和隐私条款</a></label>
    </form>
</div>
<% include ../common/footer.ejs %>
