<% include ../common/header.ejs %>
<div class="welcome">
	<h2>欢迎您</h2>
	<h3 id="corpname"></h3>
	<a href="/intro"><img src="/module/issue/welcome/imgs/ad1.png" width="100%" /></a>
	<a href="/art"><img src="/module/issue/welcome/imgs/ad2.png" width="100%" /></a>
	<a href="/wiki"><img src="/module/issue/welcome/imgs/ad3.png" width="100%" /></a>
</div>
<% include ../common/footer.ejs %>
