.registerBox{
	padding: 20px;
}
.registerForm label{
	display: block;
	position: relative;
	padding: 0px;
	margin: 10px 0;
}

.registerForm label tt{
	position: absolute;
}

.registerForm .input_text{
	width: 98%;
}

.registerForm .code{
	width: 55%;
}

.registerForm .codeBtn{
	width: 40%;
	height: 34px;
	line-height: 32px;
	background: #fff;
	border: 1px solid #1fbbb3;
	color: #1fbbb3;
}

.registerForm button{
	height: 34px;
	line-height: 28px;
	width: 100%;
}
