.registerBox{
	padding: 20px;
}
.registerForm label{
	display: block;
	position: relative;
	padding: 0px;
	margin: 20px 0;
}

.registerForm label:first-child{
	margin-top: 0px;
}

.registerForm label tt{
	position: absolute;
}

.registerForm .input_text{
	width: 95%;
}

.registerForm .code{
	width: 45%;
}

.registerForm .codeBtn{
	width: 47%;
	font-size: 14px;
	height: 38px;
	line-height: 38px;
	background: #fff;
	border: 1px solid #1fbbb3;
	border-radius: 0;
	text-align: center;
	color: #1fbbb3;
}

.regBtnDisabled{
	background: #afafaf;
}

.registerForm .pwdView{
	position: absolute;
	right: 0px;
	top: 1px;
	background: url( ./imgs/passwordIcon.png ) 0 5px no-repeat;
	height: 34px;
	width: 34px;
	text-align: center;
	line-height: 38px;
	background-size: 60%;
}

.registerForm .pwdView_hide{
	background-position: 0px -30px;
}

.registerForm .agree{
	font-size: 12px;
}

.registerForm .agree a{
	text-decoration: underline;
	color: #1fbbb3;
}

.registerForm button{
	height: 34px;
	line-height: 28px;
	width: 100%;
}
