*{
	color: #3f3f3f;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}
.clearfix { display: inline-table; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.fl{ float: left }
.fr{ float: right }
a{text-decoration: none}
button{
	background: #ffc34d;
	color: #fff;
	border:none;
	font-size: 14px;
	height: 34px;
}

/****************************/
body{
    background: #ebebeb;
}
/***************************************************************/
.wrapper{
	background: #fff;
}

.input_text{
	border: 1px solid #c7c9cf;
	color: #3f3f3f;
	height: 32px;
	font-size: 14px;
	line-height: 32px;
	border-radius: 0;
}


