.loginBox{
	padding: 20px;
}

.loginForm label{
	display: block;
	position: relative;
	padding: 0px;
	margin: 10px 0;
}

.loginForm label tt{
	position: absolute;
}

.loginForm .input_text{
	width: 98%;
}

.loginForm button{
	height: 34px;
	line-height: 28px;
	width: 100%;
}

.linkBtn{
	display: block;
	border: 1px solid #ffc34d;
	color: #ffc34d;
	background: #fff;
	font-size: 14px;
	text-align: center;
	height: 32px;
	line-height: 32px;
}
